@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 219, 89%, 48%;
    --foreground: hsla(0, 0%, 100%, 0.8);

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;

    --text-primary: #BDE7F9;
    --text-secondary: rgba(230, 231, 255, 0.70);

    --theme-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.75) 100%);
    --theme-gradient-0: #A0C0FF;
    --theme-gradient-1: #B5B8FF;
    --theme-gradient-2: #EACDD4;
    --theme-gradient-3: #B9E1C9;
    --ability-title-0: #0059B2;
    --ability-title-1: #B94F4F;
    --ability-title-2: #197E00;
    --ability-title-3: #9947D8;
    --ability-text: #355189;
    --ability-icon-0: #0E90EE;
    --ability-icon-1: #EC8591;
    --ability-icon-2: #74AE66;
    --ability-icon-3: #9A6FE1;

    --feature-icon: linear-gradient(180deg, #4B7FFF 0%, rgba(50, 109, 255, 0.70) 100%);
    --feature-title: #1B4EC4;

  }
 
  .dark {
    --background: 231, 100%, 8%;
    --foreground: hsla(0, 0%, 100%, 0.8)
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --text-primary: #BDE7F9;
    --text-secondary: rgba(230, 231, 255, 0.70);

    --theme-gradient: linear-gradient(180deg, rgba(213, 215, 255, 0.10) 0%, rgba(213, 215, 255, 0.02) 100%);
    --theme-gradient-0: var(--theme-gradient);
    --theme-gradient-1: var(--theme-gradient);
    --theme-gradient-2: var(--theme-gradient);
    --theme-gradient-3: var(--theme-gradient);
    --ability-title-0: #80BDFA;
    --ability-title-1: #F08B8B;
    --ability-title-2: #8CCD7C;
    --ability-title-3: #BD95FF;
    --ability-text: rgba(255, 255, 255, 0.7);
    --ability-icon-0: linear-gradient(180deg, rgba(128, 189, 250, 0.30) 0%, rgba(128, 189, 250, 0.03) 100%);
    --ability-icon-1: linear-gradient(180deg, rgba(240, 139, 139, 0.30) 0%, rgba(240, 139, 139, 0.03) 100%);
    --ability-icon-2: linear-gradient(180deg, rgba(140, 205, 124, 0.30) 0%, rgba(140, 205, 124, 0.03) 100%);
    --ability-icon-3: linear-gradient(180deg, rgba(189, 149, 255, 0.30) 0%, rgba(189, 149, 255, 0.03) 100%);

    --feature-icon: linear-gradient(180deg, rgba(194, 212, 255, 0.30) 0%, rgba(163, 190, 255, 0.21) 100%);
    --feature-title: #94B5FF;



  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  @apply text-5xl sm:text-7xl text-slate-900 dark:text-gray-200 leading-[1.25] tracking-[-0.05rem] font-bold mb-2
}
h2 {
  @apply text-4xl sm:text-6xl text-slate-900 dark:text-gray-200 leading-[1.3] tracking-[-0.05rem] font-bold mb-2
}
h3 {
  @apply text-3xl sm:text-5xl text-slate-900 dark:text-gray-200 leading-[1.375] tracking-[-0.05rem] font-bold mb-2
}
h4 {
  @apply text-2xl sm:text-4xl text-slate-900 dark:text-gray-200 leading-[1.375] tracking-[-0.05rem] font-semibold mb-2
}
h5 {
  @apply text-xl sm:text-3xl text-slate-900 dark:text-gray-200 leading-[1.375] font-semibold mb-2
}
h6 {
  @apply text-base sm:text-xl text-slate-900 dark:text-gray-200 leading-[1.625] font-semibold mb-2
}

body{
  background-image: url('/bg.png');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;

  @media (max-width: 1024px) {
    background-size: 120% auto;
  }
  @media (max-width: 768px) {
    background-size: 130% auto;
  }
  @media (max-width: 480px) {
    background-size: 140% auto;
  }
}

main{
   background-image: url('/shine.png');
   background-size: contain;
   background-position: center 130px;
   background-repeat: no-repeat;

  @media (max-width: 1024px) {
    background-position: center 180px;
  }

  @media (max-width: 768px) {
    background-position: center 200px;
  }
  @media (max-width: 480px) {
     background-position: center 210px;
  }
}


.text-gradient{
  background: linear-gradient(7deg, #BDE7F8 28.98%, #ECC3FF 95.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
